
  .collection-container {
    border-bottom-style: solid;
    border-top-style: solid;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .collection-header {
    padding: 0.35em;
    order: 0;
  }

  .collection-subhead {
    font-variant: small-caps;
    padding: 0.35em;
  }

  .p-description {
      margin-left: 1em;
  }