.details-div {
    padding: 1em;
    margin: 0.5em;
}

.details-h2 {
    padding: 0.25em;
}
.rating-button {
    padding: 0.5em;
    border-style: none;
    margin: 0.25em;
    border-radius: 0.25em;
}
.suggestion-button {
    border-radius: 0.5em !important;
    margin: 0.25em !important;
}

