.details-div {
    padding: 1em;
    margin: 0.5em;
    background-color: white;
}

.details-h2 {
    padding: 0.25em;
    color:white !important;
}

.suggestion-button {
    border-radius: 0.5em !important;
    margin: 0.25em !important;
}

