
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


  /*NOTE: sometimes npm has to be restarted for style changes to take effect*/
  .basic-codex-term {
    padding: 5px !important;
    background: rgb(10, 171, 211);
    margin-top: 8px !important;
  }

  .trailing-character-group {
    padding: 0px !important;
    background: white !important;
    text-align: left !important;
    margin-right: 6px !important;
    margin-left: 0px !important;
  }