
  
  /*Particular components from Semantic UI can be styled with CSS like so*/
  .ui.inverted.top.fixed.menu {
    background-image: linear-gradient(135deg, rgb(194, 206, 255) 11%,rgb(49, 223, 217) 89%);
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }