
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


  /*NOTE: sometimes npm has to be restarted for style changes to take effect*/
  .codex-term-p {
    padding: 5px !important;
    background: rgb(10, 171, 211);
    margin-top: 8px !important;
    /*font-style: italic !important;*/
  }

  .codex-term-h1 {
    padding: 5px !important;
    background: rgb(10, 171, 211);
    margin-top: 8px !important;
    font-style: italic !important;
  }

  .codex-term-h2 {
    padding: 10px !important;
    background: rgb(10, 171, 211);
    margin-top: 10px !important;
    font-style: italic !important;
    font-size: x-large !important;
  }

  .codex-term-h3 {
    padding: 8px !important;
    background: rgb(10, 171, 211);
    font-style: italic !important;
    font-size: larger !important;
  }

  .codex-element-p {
    display: block !important;
    padding-top: 1.5% !important;
    padding-bottom: 1.5% !important;
  }
  .codex-element-h1 {
    display: block !important;
    padding-top: 1.5% !important;
    padding-bottom: 1.5% !important;
  }
  .codex-element-h2 {
    padding-top: 3% !important;
  }
  .codex-element-h3 {
    padding-top: 1.5% !important;
    padding-bottom: 1.5% !important;
    padding-left: 3% !important; 
  }

    .trailing-character-group {
    padding: 0px !important;
    background: white !important;
    text-align: left !important;
    margin-right: 6px !important;
    margin-left: 0px !important;
  }

  .leading-character-group {
    padding: 0px !important;
    background: white !important;
    text-align: left !important;
    margin-right: 6px !important;
    margin-left: 0px !important;
  }

  .sticky__wrapper {
    position: relative;
    height: 4rem;
  }
  
  .sticky .sticky--inner {
    position: fixed;
    top: 0; 
    z-index: 1;
  }

  .stick-term-details {
    position: sticky !important;
  
  }

  .codex-nav-bar {
    position: fixed !important;
  }

  .codex-term-details {
    position: fixed !important;
    margin-right: 10px !important;
    
  }